# Ignore everything:
/*
/.github/
!/css/src/less
!/css/src/
!/js/src/
!/img/src/
/languages/

!style.css
!/*.php
!/inc/
!/template-parts/
!/config/
/config/config.local.json
/tests/
!/optional/
/node_modules
/vendor/

!.babelrc
!composer.json
!composer.lock
!CHANGELOG.md
!CONTRIBUTING.md
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!gulpfile.babel.js
!LICENSE
!package-lock.json
!package.json
!phpcs.xml.dist
!phpunit.integration.xml.dist
!phpunit.xml.dist
!README.md
!readme.txt
!screenshot.png
!.travis.yml
!.browserslistrc
